[submodule "wq/app"]
	path = wq/app
	url = https://github.com/wq/wq.app.git
[submodule "wq/db"]
	path = wq/db
	url = https://github.com/wq/wq.db.git
[submodule "wq/build"]
	path = wq/build
	url = https://github.com/wq/wq.build.git
[submodule "wq/create"]
	path = wq/create
	url = https://github.com/wq/wq.create.git
