[submodule "wq/app"]
	path = wq/app
	url = git@github.com:wq/wq.app.git
[submodule "wq/db"]
	path = wq/db
	url = git@github.com:wq/wq.db.git
[submodule "wq/io"]
	path = wq/io
	url = git@github.com:wq/wq.io.git
[submodule "wq/start"]
	path = wq/start
	url = git@github.com:wq/wq-django-template.git
